/* public/style.css */

body {
     background: aqua;
   }

.UserView {
     background: url("https://cdn.auth0.com/blog/whatabyte-portal/patio.jpeg") left
       bottom;
     background-size: cover;
}
.WelcomeView {
     background: url("food.jpg") left bottom;
     background-size: cover;
}